<!DOCTYPE html>
<html>
<head>
    <title>Subscribers</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Subscribers List</h1>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>User ID</th> <!-- New column for User ID -->
                    <th>Order ID</th>
                    <th>Subscription Date</th>
                    <th>End Date</th>
                    <th>Amount</th>
                    <th>Plan ID</th>
                    <th>Action</th> <!-- Add this header -->

                </tr>
            </thead>
            <tbody>
                {% for subscription in subscriptions %}
                <tr>
                    <td>{{ subscription.user_id }}</td> <!-- Display User ID -->
                    <td>{{ subscription.orderid }}</td>
                    <!-- Updated to include hours and minutes -->
                    <td>{{ subscription.subscription_date.strftime('%d-%B-%Y %H:%M') }}</td>
                    <td>{{ subscription.enddate.strftime('%d-%B-%Y %H:%M') if subscription.enddate else 'N/A' }}</td>
                    <td>{{ subscription.amount }}</td>
                    <td>{{ subscription.plan_id }}</td>

                    <td>
                          <form action="{{ url_for('delete_subscription', subscription_id=subscription.id) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this subscription?');">
                          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                          </form>
                    </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
